html, body{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    background-color: white;
}

:root{
    --blue: rgb(33, 28, 132);
    --blue-alt: rgb(77, 85, 204);
    --lavender: rgb(122, 115, 209);
    --lavender-alt: rgb(181, 168, 213);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px;
    border-color: white;
    background-image: linear-gradient(to right, var(--blue-alt), var(--blue));
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1.5rem;
    padding-top: 20px;
    color: white;
    width: 100%;
    font-size: 2vw;
    font-weight: 400;
    font-style: normal;
    font-family: "Audiowide", sans-serif;
}

.navbar span{
    padding-left: 1rem;
    font-weight: 200;
}

.navbar-brand{
    align-items: flex-end;
    margin-right: auto;
}

.navbar a{
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 200;
}

.links{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    right: 0;
    padding-right: 2rem;
}

.links.test{
    display: none;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    height: 100%;
    font-size: 18vw;
    font-weight: 400;
    font-style: normal;
    font-family: "Audiowide", sans-serif;
    color: white;
    vertical-align: bottom;
    text-align: center;
}

.summary{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: auto; 
    margin-right: 18vw;
    margin-top: 6vh; 
    border: 5px;
    width: 30%;
    height: 40%;
    right: 0;
    border-style: solid;
    border-radius: 1rem;
    border-width: thin;
    border-color: white;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.summary:hover{
    transform: translateY(-0.8rem) scale(1.1);
    box-shadow: 0 8px 24px var(--blue);
}

.summary-text{
    font-size: 2vw;
    text-align: center;
    color: white;
}

.recent-header{
    display: block;
}

.navbar-alt{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1.5rem;
    padding-top: 20px;
    color: white;
    width: 100%;
    font-size: 2vw;
    font-weight: 400;
    font-style: normal;
    font-family: "Audiowide", sans-serif;
}

#secondary-header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(16px);
    background-color: white;
    color: var(--blue);
    padding-top: 45px;
    padding-bottom: 45px;
}

#secondary-header a{
    color: var(--blue);
    padding-left: 1rem;
}

#recent{
    background-color: white;
    color: var(--blue);
}

h3{
    padding-left: 1rem;
    padding-top: 45px;
    color: var(--blue);
}

.table{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: black;
}

.table table{
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    background-color: var(--lavender-alt);
    margin: 20px, 0;
}

.table th, .table td{
    padding: 12px;
    text-align: left;
    border: 1px solid var(--lavender);
}

#graphs{
    background-color: black;
}

#graphs h3{
    color: var(--lavender-alt);
}

